﻿extends ../frame

block vars
  - var pageClass = ""
  - var metaDesc = "XPT is the first universal currencies in the online game world. The more you achieve, the more you conquer, the more XPT you earn. Start your treasure hunt now!!";
  - var pageTitle = "XPT - a cryptocurrency that brings you the world of Games and Wealth";
  - var homepage = true

block pageLibraries

block content
  section#hero
    div.wallpaper-container
      div.wallpaper.tl
      div.wallpaper.tr
      div.wallpaper.bl
      div.wallpaper.br
    div.container.text-center
      h1
        | Meet XPT,
        span.hidden-xs.hidden-sm  
        br.hidden-md.hidden-lg
        | Bitcoin's 
        span.nobr Power-Up
      div.tagline.mt
        span.nobr
          span.tagline-roll#tag1 If Bitcoin is  
          span.tagline-roll#tag2 Batman,
        span  
        span.nobr
          span.tagline-roll#tag3 XPT is 
          span.tagline-roll#tag4 Robin
      div
        a.btn.btn-action(href="/#social")
          | Get Started
    div.scroll-down.text-center
      img(src="/img/scroll-down.svg")


  section#overview
    div.w100p.text-center
      div.kv
        img(src="/img/kv.svg").img-responsive
      div.container
        h2
          | XPT (X-Point) and Bitcoin are perfect complements
        p 
          | Bitcoin (BTC) is the king of cryptocurrency and the "Digital Gold" many believe. But it is far from the ideal digital cash for micro transactions due to its transaction fee and speed. XPT is designed to work with Bitcoin to fulfill its initial purpose of providing individuals and businesses with a fast, efficient and secure way to make day-to-day direct transactions.


  section#benefits
    div.container.text-center
        div.benefit-point.col-xs-24.col-sm-12.col-lg-6.padding.pl2.pr2
          img(src="/img/icon-benefit-1.svg")
          div.df1
            h3 XPT and Bitcoin are Fungible
            p XPT and Bitcoin are interchangable at 1 Bitcoin = 1,000,000 XPT. You can turn your Bitcoin into XPT and vice versa anytime.
        div.benefit-point.col-xs-24.col-sm-12.col-lg-6.padding.pl2.pr2
          img(src="/img/icon-benefit-2.svg")
          div.df1
            h3 
              span.nobr XPT is Designed for
              |  
              span.nobr True Micro and
              |  
              span.nobr Even Nano-Transactions
            p Ultra-fast transactions with close-to-zero transaction fee. XPT allows brand new business opportunities to flourish, which will benefit companies carrying out large volume transactions between users and systems.
        div.benefit-point.col-xs-24.col-sm-12.col-lg-6.padding.pl2.pr2
          img(src="/img/icon-benefit-3.svg")
          div.df1
            h3 Be in Control
            p Spend and game with XPT directly and conveniently with peace of mind. The secure digital currency and merchant operation &amp; support utilities prevent risk and uncertainty in transactions.
        div.benefit-point.col-xs-24.col-sm-12.col-lg-6.padding.pl2.pr2
          img(src="/img/icon-benefit-4.svg")
          div.df1
            h3 XPT is Ready for Mass Adoption 
            p Designed to be scalable, XPT’s development team has put tremendous effort into its accessibility, ease of use, distribution and incentivization.


  section#buy
    div.container.text-center
      h2
        | How to buy XPT?
      p.mb2
        | Create your XPT wallet and follow the instructions
      a.btn.btn-action(href="/#social").mt
        | Subscribe
      div.wallet-app
        div.price
          div.btc
            span.amount 1
            span.symbol  BTC =
          div.xpt
            span.amount 1,000,000
            span.symbol  XPT 


  section#faqs
    div.container.faq-container
      h2 
        | FAQ
      div.faq
        h4 What is XPT?
        p XPT (X-Point) is a digital currency that is interchangeable with Bitcoin at 1 Bitcoin = 1,000,000 XPT. You can turn your Bitcoin into XPT and vice versa anytime.
      div.faq
        h4 How much Bitcoin 1 XPT equals to?
        p 1 XPT (X-Point) = 0.000001 Bitcoin. Also equals to 1 μBTC (you-bit) or 100 Satoshi.
          br
          small * Satoshi and μBTC are common units of Bitcoin
      div.faq
        h4 What are the advantages of XPT over Bitcoin when used in transactions?
        p Bitcoin transactions are slow and costly. Therefore it is better off as an digital asset than as a digital currency. Meanwhile XPT brings to the table ultra-fast transactions with close-to-zero transaction fee, making it the perfect complement to Bitcoin.
      div.faq
        h4 Is XPT an inflationary coin?
        p No, the total circulation is capped.
      div
        a(href="/faq") More FAQ


  section#partnership
    div.container.text-center
      img(src="/img/icon-partnership.svg")
      h2 
        | Partnership
      p.mb4
        | Merchants and businesses of all kinds have come to value the benefits that XPT brings. If your organization would like to know more about accepting XPT as a method of payment for your goods and services, please contact us at 
        a(href="mailto:partnership@xpt.io") partnership@xpt.io
        | .


  section#contact
    div.container.text-center
      h2 
        | Contact
      p 
        | Please use this form for any media, events or business inquiries.
      form#contactForm.form-container(action="/contact-us" method="POST")
        input.form-control(type="text", name="name", placeholder="Name", required="required").mb
        input.form-control(type="email", name="email", placeholder="Email Address", required="required").mb
        input.form-control(type="text", name="subject", placeholder="Subject", required="required").mb
        textarea.form-control(type="text", name="message", placeholder="Your Message", required="required").mb
        button.btn.btn-action
          | Submit Form

  section#social
    div.container.text-center
      h2 
        | Subscribe to XPT Newsletter
      form#newsletterForm.form-container.df.mb2(action="/subscription" method="POST")
        input.form-control(type="email", name="email", placeholder="Email Address", required="required")
        button.btn.btn-action.blue.ml
          | Subscribe
      h3 Stay connected
      div.footer-logo
        i.fa.fa-facebook-square.mr
        i.fa.fa-twitter-square.mr
        i.fa.fa-rss



















