﻿extends ../frame

block vars
  - var pageClass = "navbar-fixed-always"
  - var metaDesc = "XPT is the first universal currencies in the online game world. The more you achieve, the more you conquer, the more XPT you earn. Start your treasure hunt now!!";
  - var pageTitle = "XPT - Pivacy Policy";
  - var homepage = false

block pageLibraries

block content
  section#tnc
    div.tnc-container

      h1 Pivacy Policy

      h3.italic 
        | Effective 8
        sup th 
        | March, 2018

      p Please read X-Point’s Privacy Policy before using X-Point’s services because it will tell you how we collect, store, use and disclose your personal information when providing these services to you.

      h3 Introduction
      p  “X-Point,” or “we” or “us” refers to X-Point and the X-Point Corporate Family in this Privacy Policy. The X-Point Corporate Family means X-Point’s subsidiaries, parent companies, joint ventures and other corporate entities under common ownership and/or any of their agents, consultants, employees, officers and directors. 
      p This Privacy Policy applies whenever you access any of our products, services, content, xpt.io and/or the other domains provided by X-Point, together referred to as “Services.” This Privacy Policy describes:

      ol
        li what information we collect, how we collect it, and why
        li how we use that information and with whom we share it
        li how you can access and update that information
        li the choices you can make about how we collect, use, and share your information
        li how we protect the information we store about you
      p If you do not want X-Point to collect, store, use or share your information in the ways described in this Privacy Policy, you may not use X-Point’s Services. 

      h3 Information We Collect and How We Collect It
      p For example, X-Point may collect and store some or all of the following information:

      ol
        li your first and last name;
        li your profile picture or its URL;
        li your user ID number (like your Facebook ID number), which may be linked to publicly-available information like your name and profile photo;
        li the user ID number and other public data for your friends;
        li the login e-mail you provided;
        li your physical location and that of the devices you use to access our Services;
        li your gender;
        li your birthday and/or age range;
        li other publicly-available information on the third-party application; and/or
        li any other information that you or the provider of the third-party application share with X-Point.
      p If you access our Services from a third-party application or connect our Services to a third-party application, you should also read that third-party application’s Terms of Service and Privacy Policy.
      p If you are unclear about what information a third-party application is sharing with us, please go to the third-party application to find out more about their privacy practices.

      h3 Cookies and Automated Information Collection
      p We and service providers acting on our behalf, like Google Analytics, store log files and use tracking technologies such as:
      p cookies, which are small pieces of data transferred to your mobile device or computer for record-keeping purposes;
      p web beacons, which let us know if a certain page was visited or whether an e-mail was opened;
      p tracking pixels, which allow us or our advertising partners to advertise more efficiently and effectively; and
      p local shared objects, also known as flash cookies, which help us to reduce fraud, and speed up load times.
      p We and our service providers use these log files, tags, and tracking technologies to collect and analyse certain kinds of technical information, including:
      
      ol
        li IP addresses;
        li the type of computer or mobile device you are using;
        li your operating system version;
        li your mobile device’s identifiers, like your MAC Address, Identifier For Advertising (IDFA), and/or International Mobile Equipment Identity (IMEI);
        li your browser types;
        li your browser language;
        li referring and exit pages, and URLs;
        li platform type;
        li the number of clicks on a page or feature;
        li domain names;
        li landing pages;
        li pages viewed and the order of those pages;
        li the amount of time spent on particular pages; and
      p In some cases, we will connect this information with your social network ID or X-Point user ID.
        
      h3 Information About You That You Share With Us Directly
      p When you use our Services (whether through a social network or through X-Point directly), you may give us information directly (like when you’re setting up your account) and we will store that on our systems and use it for the purposes described in this Privacy Policy.
      p Parts of our Services may use a more traditional registration or account set-up process where you may be asked to give us some or all of the following information:

      ol your age or birthday;
        li your first and last names;
        li your e-mail address;
        li a password; and
        li other information that helps us make sure it’s you accessing your account or helps us improve our services.
        li We may also let you create a player profile, separate from your social networking site profile (for example, your Facebook profile), that other X-Point players can see. Your player profile may include information like:
        li a profile photo;
        li username(s);
        li your gender;
        li biographic details (like your age or age range);
        li approximate location information that you provide;
        li links to your profiles on various social network;
        li a X-Point ID number that is created by X-Point and used to identify your profile.
        
      h3 Payment Information
      p If you purchase a license to use virtual currency or virtual items on xpt.io, our third-party payment processor will collect the billing and financial information it needs to process your charges. This may include your postal address, e-mail address and financial information. X-Point does not collect or store your financial information, like credit card numbers. However, X-Point’s payment processors may share non-financial information with us related to your purchases, like your name, billing address and the items purchased in order to fulfill your order. X-Point may also obtain the billing and payment information that you provide when your purchase is processed by someone else (like Apple or Google) such as when you purchase something or that you downloaded on your mobile device. Our Term of Services explain our policies and terms relevant to our charges, billing practices, third-party credits and virtual currencies. Please note that purchases of third party credits or currencies may also be subject to those parties’ policies.
        
      h3 Customer Support Correspondence
      p Except as provided herein, when you ask for help from us, we will collect and store the contact information you give them (generally, your name and e-mail address), activity on our Services, and your X-Point player and/or social network ID number. We will also store the communications you have with Us and any information in those communications in order to provide support and improve the Services. 
        
      h3 Information You Give Us For Text Messaging Services
      p We receive and store the information you provide, including your mobile telephone number, when you choose to sign up to receive SMS messages.
        
      h3 Other Sources
      p We may collect or receive information about you from other sources like third-party information providers. We use this information along with information you provide us directly,.
        
      h3 How We Use the Information We Collect
      p The main use of the information we collect and store is to provide a better Services, but there are other uses as well. The uses for which we collect and store your information include:
      
      ol
        li to operate, improve and optimize our Services;
        li to personalize our Services to you;
        li to provide technical support and respond to your inquiries;
        li to protect the safety and well-being of X-Point users;
        li to protect X-Point's rights and property in connection with our Services;
        li to prevent fraud or potentially illegal activities, and to enforce our Terms of Service;
        li to manage and deliver contextual and behavioural advertising;
        li to administer rewards, surveys, sweepstakes, contests, or other promotional activities or events sponsored or managed by us or our business partners;
        li to comply with our legal obligations, resolve any disputes we may have with you, and to enforce our agreements with third parties; and
        li to conduct research.
        
      p One important use of your information is communication. If you have provided your e-mail address to X-Point, we will use it to respond to customer support inquiries, and keep you informed of your activity. We may also send promotional e-mail messages and promotional SMS messages (e.g. text messages) ("Promotional Communications") directly or in partnership with other parties, in accordance with your marketing preferences. Each Promotional Communication will offer you choices about receiving additional messages. Receipt of such communications depends on X-Point having certain contact information from you. 
        
      h3 How We Share Your Information
      p We may disclose or publish aggregated information and other non-personal information about our customers for industry analysis, demographic profiling, marketing, analytics, advertising, and other business purposes.
      p In addition, we may share your information (which may include personal information) with third parties (in other words, parties other than X-Point) or allow third parties to collect this information from our Services in the following circumstances:
      
      h3 Your Consent
      p With your consent, we may share your information with third parties or allow them to collect your information from our Services in some ways not specifically described in this Privacy Policy.
        
      h3 Third-Party Advertising Including Tailored Advertising and Analytics
      p We have advertising on our Services so we can continue to offer many of our Services for free.
      p We do not actively share personal information with third-party advertisers for their direct marketing purposes unless you give us your consent.
      p When advertisers or ad networks place ads in our Services, they may collect or we may share the following types of information from within our Services:
      
      ol
        li performance data (like the number of clicks on an advertisement);
        li aggregated and/or de-identified information about you and other players collectively that is not intended to specifically identify you (like people between the ages of 30 and 45);
        li certain technical information (for example, IP addresses, non-persistent device identifiers such as IDFAs);
        li your social network ID;
        
      p The information collected may be used to:
      ol
        li measure how effective ads are, to offer you targeted advertising in order to personalize your experience by showing you advertisements for products and services that are more likely to appeal to you (a practice known as behavioural advertising), and/or
        li undertake web analytics (like Google Analytics which is used to analyse traffic and other player activity to improve your experience).
        
      p Advertisers or ad networks may collect this information through the use of tracking technologies like browser cookies and web beacons, and they may use a single tracking technology or multiple tracking technologies at the same time.
      p Please note, after clicking on a third party advertisement, you may no longer be on a site hosted by X-Point.
      
      h3 Safety, Security and Compliance with Law
      p Your information, and the contents of all of your online communications in our Services and between You and X-Point may be accessed and monitored as needed to provide our Service and may be disclosed:
      ol
        li when we have a good faith belief that we have to disclose the information in response to lawful requests by public authorities, including to meet national security or law enforcement requirements, or legal process (for example, a court order, search warrant or subpoena);
        li to satisfy any laws or regulations that apply;
        li where we believe in our sole discretion that the Service is being used in committing a crime, including to report such criminal activity or to share information with other companies and organizations for the purposes of fraud protection, credit risk reduction, and other security precautions;
        li when we have a good faith belief that there is an emergency that poses a threat to the health and/or safety of you, another person or the public generally; and
        li to protect the rights or property of X-Point and other applicable third parties, including to enforce our Terms of Services.
        
      h3 Third-Party Service Providers
      p We will share your information with third-party companies to perform services on our behalf, like processing payments, analysing data, e-mail delivery, hosting services, customer service and to help us in our marketing efforts, including managing and delivering contextual and tailored advertisements. We contractually require these third-party service providers to maintain the confidentiality of the information we share with them, and we contractually require them not use your information for anything other than to provide services on our behalf.
        
      h3 Sale or Merger
      p In the event that X-Point undergoes a business transition (including proposed transactions), like a merger, acquisition by another company, or sale of all or part its assets, we may disclose or transfer all of your information, including personal information, to the successor organization in the transition. We will make reasonable efforts to let you know of the business transition before transferring your personal information. 
      
      h2 How to Access, Update and Manage Your Information
      h3 Accessing and Updating Your Information Held by X-Point
      p If you want to review, delete, or change the information X-Point has about you or have additional questions, e-mail us. 
      
      h3 Stopping Use of Your Information
      p If you no longer want X-Point to make active use of your information, you may send an e-mail to Us. Place "Delete My Account" in the subject line and include your first name, last name, e-mail address and your social network ID for the social network from which you access our Services (if applicable) in the body of the e-mail. Please note that certain records, for example those relating to payments or customer service matters, will be held for legal and accounting purposes. If you have sent content through or posted content on the Service, we may not be able to delete it.
        
      h3 Opting Out of Promotional Emails from X-Point
      p If you want to stop receiving promotional e-mails from X-Point, click on the "unsubscribe" link in any promotional email from X-Point. Please note that once we receive your request, it may take an additional period of time for your opt-out to become effective. Your unsubscribe or e-mail preference change will be processed promptly.
        
      h3 Opting Out of Cookie Tracking
      p You can set your web browser to warn you about attempts to place cookies on your computer or limit the type of cookies you allow. Flash cookies operate differently than browser cookies and cookie management tools available in a web browser may not remove flash cookies. 
        
      h3 Privacy Policies of Linked Third-Party Services and Advertisers
      p Our websites may contain advertisements from Third-Party Services, which are companies other than X-Point that may link to their own websites, online services or mobile applications. We are not responsible for the privacy practices or the content of these Third-Party Services. If you have any questions about how these Third-Party Services use your information, you should review their policies and contact them directly. 
      p 

      p How Long We Keep Your Information
      p How long we retain your information depends on why we collected it and how we use it. We will not retain your personal information for longer than is necessary for our business purposes or for legal requirements. For instance, we may retain some information for a few years after you have closed your account with us if this is necessary to meet our legal obligations or to exercise, defend or establish legal rights. 

      h3 Security of Your Information
      p We implement security measures to help protect the security of your information both online and offline. We take steps to ensure that your data is treated securely and in accordance with this Privacy Policy. These measures vary based upon the sensitivity of your information.
      p If you have an account registered directly with X-Point, your profile information is protected by the password you use to access your X-Point account. It is important that you protect and maintain your X-Point account’s security and that you immediately tell us of any unauthorized use of your account. If you forget the password to your X-Point account, the Service allows you to request that instructions be sent to you that explain how to reset your password. We urge you to log out of your X-Point account after you use it.
      p When you sign into your X-Point account or enter payment information, we or our third-party payment processor use encryption to transmit that information.
      p While we take precautions against possible security breaches of our Services and our customer databases and records, no website or Internet transmission is completely secure. We cannot guarantee that unauthorized access, hacking, data loss, or other breaches will never occur, and we cannot guarantee the security of your information while it is being transmitted to our Service. Any transmission is at your own risk. 
        
      h3 Changes to Our Privacy Policy
      p If we decide to make material changes to our Privacy Policy, we will tell you and other players by placing a notice on xpt.io or by sending you a notice to the e-mail address we have on file for you prior to the change becoming effective. You should periodically check www.xpt.io and this privacy page for updates. 





