﻿extends ../frame

block vars
  - var pageClass = "navbar-fixed-always"
  - var metaDesc = "XPT is the first universal currencies in the online game world. The more you achieve, the more you conquer, the more XPT you earn. Start your treasure hunt now!!";
  - var pageTitle = "XPT - Terms and Conditions";
  - var homepage = false

block pageLibraries

block content
  section#tnc
    div.tnc-container

      h1 Terms and Conditions

      h3.italic 
        | Effective 8
        sup th 
        | March, 2018

      p Please read these Terms of Service and our Privacy Policy carefully before using X-Point Services.
      p Whenever you use the Services, you agree to be bound by all of the terms and conditions of these Terms of Service. If you don’t agree to all the terms and conditions you must not use our Services.
      p In all cases, “X-Point,” “Us,” or “We” includes agents, consultants, employees, officers and directors.

      h3 1. DEFINITIONS

      p 
        u “Account”
        |  means an account you create when you access the Services.
      p 
        u “Offers”
        |  means special programs, including offers, excursions, and special gifts, both digital and tactile, that X-Point may offer from time to time to certain eligible players.
      p 
        u “Services”
        |  refers to products, services, content, and/or the other domains provided by X-Point.
      p 
        u “Terms of Service” or “Terms”
        |  means these terms of service.
      p 
        u “User Content”
        |  means all the data that you upload or transmit on or through the Service. 
      p 
        u “Virtual Items”
        |  means virtual currency, including but not limited to virtual coins, cash, tokens, or points, all for use in the Service.
      p  
        u “X-Point Affiliates”
        |  refers to X-Point and/or X-Point’s third-party content providers, distributors, licensees or licensors.

      h3 2. CHANGES TO THESE TERMS

      p We reserve the right, at our discretion, to change, modify, add or remove portions of the Terms  and Privacy Policy at any time by posting the amended Terms or Privacy Policy on our sites or within the Service. We may provide additional notice, such as an e-mail message or messaging within the Services, of any material changes. Unless We state otherwise, changes are effective when posted. If you continue to use the Services after the changes are posted you agree to the changes. New versions of the Terms and the Privacy Policy and any other policies, codes or rules will be accessible at <a href="https://www.xpt.io">www.xpt.io</a> or from within the Services.
      p If you have a dispute with X-Point, the version of the Terms and the Privacy Policy in effect at the time X-Point received actual notice of the dispute will apply to such dispute. However, if you keep using the Service after the changes are posted, you are agreeing that the changes apply to your continued use of the Services.
      p You can’t make changes to the Terms or Privacy Policy unless both you and X-Point sign a written amendment.
      p If the Terms or the Privacy Policy have provisions that conflict with other X-Point terms or policies, the provisions in these Terms and the Privacy Policy win.

      h3 3. ACCOUNT INFORMATION AND SECURITY

      p In order to use our Services, We may ask you to create an Account and select a password and/or provide Us with certain personal information, which may include your name, birth date, e-mail address, and, in some cases, payment information. This information will be held and used in accordance with X-Point's Privacy Policy.
      p You agree to supply X-Point with accurate, complete, and updated information, particularly your email address.
      p You are responsible for maintaining the security of your Account. Don’t share your Account details with others or allow others to access or use your Account. You are solely responsible for any activity in your Account whether or not authorized by you, including purchases made using any payment instrument (for example, credit card, PayPal or social network or platform virtual currency).
      p Tell Us immediately of any actual or suspected loss, theft, fraud, or unauthorized use of your Account or Account password.
      
      h3 4. PRIVACY

      p X-Point's Privacy Policy tells you how We collect and use information about you and your computer or mobile device, and how you can use the Services to share such information with others. You understand that through your use of our Services you acknowledge the collection, use and sharing of this information as described in X-Point’s Privacy Policy. If you don’t agree with the Privacy Policy, then you must stop using our Services.
      p We encourage you to read the X-Point Privacy Policy carefully and use it to make informed decisions.
        
      h3 5. USING OUR SERVICES

      p 
        b Who can use our Service: 
      p You may 
        b not
        |  use our Service if:
      p You cannot enter into a binding contract with X-Point;
      p You have previously been banned from using any X-Point Service.
      p If you are under the age of 18, or under the age of majority where you live, you represent that your legal guardian has reviewed and agreed to these Terms.

      p 
        b Service Changes and Limitations:
      p The Service is evolving and We may require that you accept updates to the Service as well as to the Terms and the X-Point Privacy Policy. From time to time we may make you update your software to continue to use Our Services. We may perform these updates remotely including to X-Point software residing on your computer or mobile device, without notifying you.
      p 
        i X-Point reserves the right to stop offering and/or supporting the Service at any time either permanently or temporarily, at which point your license to use the Service or any part of it will be automatically terminated or suspended. If that happens, X-Point is not required to provide refunds, benefits or other compensation to players in connection with discontinued elements of the Service or for virtual goods previously earned or purchased.  
      p 
        br
        | X-POINT MAY, IN ITS SOLE DISCRETION LIMIT, SUSPEND, TERMINATE, MODIFY, OR DELETE ACCOUNTS OR ACCESS TO THE SERVICE OR ANY PORTION OF IT AND PROHIBIT ACCESS TO OUR SITES, AND THEIR CONTENT, SERVICES AND TOOLS, DELAY OR REMOVE HOSTED CONTENT AND X-POINT IS UNDER NO OBLIGATION TO COMPENSATE YOU FOR ANY SUCH LOSSES OR RESULTS.

      p 
        b Deleting your Account:
      p You may stop using the Service at any time and may request that We stop making active use of your data at any time by following the instructions in the Privacy Policy. 
        b 
          i Unless the local law where you are located requires otherwise, We are not required to provide refunds, benefits or other compensation if you request deletion of your Account.
        
      h3 6. OWNERSHIP; LIMITED LICENSE

      p 
        b Service:

      p The Service is comprised of works owned by X-Point, and it is protected by copyright, trademark, trade dress, patent and other intellectual property and other applicable laws, rules or regulations. X-Point owns, has licensed, or otherwise has rights to use all of the content that appears in the Service. These Terms do not grant you or any other party any right, title or interest in the Service or any content in the Service.
      p So long as you abide by these Terms and any other rules, X-Point grants you a non-exclusive, non-transferable, revocable limited license subject to the limitations in these Terms, to access and use the Service using a X-Point supported web browser or mobile device solely for your own non-commercial purposes. You agree not to use the Service for any other purpose.
      p If you violate these Terms, or any of Our other terms that apply to you, We may take action against you, up to and including permanently suspending your account. In addition, you may be breaking the law, including violations of X-Point’s intellectual property rights. ANY ATTEMPT BY YOU TO DISRUPT OR INTERFERE WITH THE SERVICE INCLUDING WITHOUT LIMITATION UNDERMINING OR MANIPULATING THE LEGITIMATE OPERATION OF X-POINT IS A VIOLATION OF X-POINT POLICY AND MAY BE A VIOLATION OF CRIMINAL AND CIVIL LAWS.
      p 
        b Your Account and Virtual Items:
      p Regardless of what anything else says in these Terms or any other Feature Terms that apply to features you may choose to use, you do not own the Account that you create on Our Service, and your Account is not your property. Your account and any related items are owned by X-Point. X-Point gives you a limited license to use your account and the related items while We offer the Services
      p WE MAY DELETE OR TERMINATE ACCOUNTS THAT ARE INACTIVE.
        
      p 
        b User Content:
      
      p If you transmit or upload User Content on the Service, you agree that it will be:
      ol
        li accurate;
        li not confidential;
        li not in violation of the law;
        li not in violation of contractual restrictions or other parties’ rights, and that you have permission from any other party whose personal or other information or intellectual property is contained within the User Content;
        li free of viruses, adware, spyware, worms or other malicious code;

      p Your User Content will be processed by X-Point in accordance with its Privacy Policy.
      p You own your User Content, but you give X-Point a perpetual and irrevocable (other than as provided below), worldwide, fully paid-up and royalty free, non-exclusive, license to use your User Content and any modified and derivative works thereof in connection with the Service, including in marketing and promotions. To the extent allowed by applicable laws, you waive any moral rights you may have in any User Content (like the right to be identified as the author of the User Content or the right to object to a certain use of that User Content).
      p X-Point’s license to your User Content ends when you request deletion of your User Content by submitting a written request to X-Point
       
      ol
        li User Content submitted in response to X-Point promotions (which will be subject to the terms of the promotion);
        li User Content either shared with others which they have not deleted or already used publicly as allowed under these Terms; and 
      
      p If you request deletion of your User Content we will take reasonable steps to remove your User Content from active use, which may include suppression of your User Content in our systems. However, User Content may persist in our systems, including back-up copies. We may also retain copies of User Content if we are legally required to do so.
      p When you post your observations and comments on the Service such as in forums, blogs and chat features, We cannot guarantee that other players will not use the ideas and information that you share. If you have an idea or information that you would like to keep confidential and/or don’t want others to use, don’t post it. 
        b X-POINT IS NOT RESPONSIBLE FOR ANY OTHER PERSON’S USE OR APPROPRIATION OF ANY CONTENT OR INFORMATION YOU POST IN ANY FORUMS, BLOGS AND CHAT ROOMS.
      
      h3 7. MONITORING USE OF SERVICE AND USER CONTENT
      
      p We have no obligation to monitor User Content and We are not responsible for monitoring the Service for inappropriate or illegal User Content or conduct by other players. That said, We have the right, in our sole discretion, to edit, refuse to post, or remove any User Content.
      p We may also, at our discretion, choose to monitor and/or record your interaction with the Service or your communications with X-Point (including without limitation chat text and voice communications) when you are using the Service.
      
      h3 8. PAYMENT TERMS
      p We provide a service in the form of access to Virtual Items. In the Service you may use "real world" money and/or some other forms of payment accepted by X-Point to obtain a limited license to use Virtual Items and/or other goods or services.
      
      p 
        b How it Works:
      p On <a href="https://www.xpt.io">xpt.io</a>, the payment page will let you know what you can use to pay when you make your purchase. We may change what you can use to pay from time to time, at Our sole discretion. Virtual Items purchased on other platforms such as Apple iOS, or Android will be subject to those platforms’ payment terms and conditions. X-Point does not control how you can pay or how any refunds may be issued on those platforms. Please review those platforms’ terms of service for additional information.
      p When you get a limited license to use Virtual Items from our Services on xpt.io, We may send you a confirmation email or text that will have details of the items you have ordered. Please check that the details in the confirmation message are correct as soon as possible and keep a copy of it for your records. X-Point keeps records of transactions in order to deal with any future questions about that transaction.
      p For Virtual Items, your order will represent an offer to Us to obtain a limited license for the relevant service(s) which will be accepted by Us when We make the Virtual Items available in your account for you to use or debit the account through which you paid, whichever comes first. Your limited license to Virtual Items for use in X-Point is a service provided by X-Point that starts when We accept your payment or redemption of third party virtual currency.
      p For orders to obtain a limited license to use Virtual Items, by clicking the button on the purchase window or page you agree that We may start to supply your purchased Virtual Items immediately after you have clicked that button; and You understand that while you may “earn” "buy" or "purchase" Virtual Items in our Services, You do not legally "own" the Virtual Items and the amounts of any Virtual Item do not refer to any credit balance of real currency or its equivalent. Any "virtual currency" balance shown in your Account does not constitute a real-world balance or reflect any stored value, but instead constitutes a measurement of the extent of your limited license.
      
      p 
        b ALL SALES ARE FINAL:
      p YOU ACKNOWLEDGE THAT X-POINT IS NOT REQUIRED TO PROVIDE A REFUND FOR ANY REASON, AND THAT YOU WILL NOT RECEIVE MONEY OR OTHER COMPENSATION FOR UNUSED VIRTUAL ITEMS WHEN AN ACCOUNT IS CLOSED, WHETHER SUCH CLOSURE WAS VOLUNTARY OR INVOLUNTARY, OR WHETHER YOU MADE A PAYMENT THROUGH X-POINT OR ANOTHER PLATFORM SUCH AS APPLE, GOOGLE, OR ANY OTHER SITES OR PLATFORMS WHERE WE OFFER OUR SERVICES.
      p 
        b PURCHASES OR REDEMPTIONS OF THIRD PARTY VIRTUAL CURRENCY TO ACQUIRE A LICENSE TO USE VIRTUAL ITEMS ARE NON-REFUNDABLE TO THE FULLEST EXTENT ALLOWED BY LAW.
      p If you purchase third party currency or choose to make a payment in our Services through a third party (like Apple, or Google), you are agreeing to the third party’s payment terms, and X-Point is not a party to the transaction.
      p 
        b Additional Payment Terms:
      p You agree to pay all fees and applicable taxes incurred by you or anyone using an Account registered to you. X-Point may revise the pricing for the goods and services it licenses to you through the Service at any time.
      
      h3 9. PROMOTIONS AND OFFERS
      p From time to time, We may offer limited time promotions.  Please review the official rules (if any) associated with the promotion. They will apply in addition to these Terms.
      p In addition, from time to time, We may promote Offers.  We are not required to give, and players are not required to accept, any Offer. Offers are not transferable, redeemable or exchangeable for other things of value, except at our sole discretion.  If you accept any Offer, you may have to sign a declaration of eligibility and liability release, or sign other paperwork in order to get the Offer.  Some Offers will be subject to taxes and other charges, travel, or activities outside of the virtual world, all of which will be disclosed before You accept the offer.  If you accept an Offer you also assume all liability associated with the Offer.
      
      p 
        b THIRD PARTY ADVERTISING
      p Our Service may feature advertisements from Us or other companies.  Our Privacy Policy explains what information We share with advertisers. Please read it.
      p Sometimes We provide links on the Service to other companies’ websites or to companies who invite you to participate in a promotional offer and offer you some feature of the Service or upgrade in exchange. Any charges or obligations you take on in dealing with these other companies are your responsibility.
      p We make no representation or promises about any content, goods or services these other companies provide, even if linked to or from Our Service. Also, just because We allow a link to be included in Service does not mean We endorse that linked site. We are not liable for any claim relating to any content, goods and/or services of third parties.
      p Please also note that the linked sites are not under our control and may collect data or ask you to provide them with your personal or other information, or they may automatically collect information from you. When you use other companies’ services like these, the other company’s service may (or may not) ask you for permission to access your information and content. We are not responsible for these other companies’ content, business practices or privacy policies, or for how they collect, use or share the information they get from you.
      
      h3 10. COPYRIGHT NOTICES/COMPLAINTS
      p We respect the intellectual property rights of others and ask that you should, too. We respond to notices of alleged copyright infringement that comply with the relevant local laws that may apply. We also accommodate and do not interfere with standard technical measures copyright owners use to protect their materials.
      
      h3 11. FEEDBACK AND Unsolicited Ideas

      p Sometimes, We may request your feedback on certain features through a promotion or our customer insights program. Any feedback you provide at Our request through a promotion or program is subject to the rules of the specific promotion or program.
      
      h3 12. WARRANTY DISCLAIMER; SERVICES AVAILABLE ON AN “AS IS” BASIS
      
      p Neither X-Point nor any X-Point Affiliate makes any promise or guarantee that the Service will be uninterrupted or error-free.
      p USE OF THE SERVICE IS AT YOUR SOLE RISK. IT IS PROVIDED ON AN "AS IS" BASIS. TO THE EXTENT PERMITTED BY APPLICABLE LAW, X-POINT AND ANY X-POINT AFFILIATE MAKE NO WARRANTIES, CONDITIONS OR OTHER TERMS OF ANY KIND, EITHER EXPRESS OR IMPLIED, ABOUT THE SERVICES. X-POINT AND ANY X-POINT AFFILIATE DISCLAIM ANY WARRANTIES OF TITLE OR IMPLIED WARRANTIES, CONDITIONS OR OTHER TERMS OF NON-INFRINGEMENT, MERCHANTABILITY, QUIET ENJOYMENT OR FITNESS FOR A PARTICULAR PURPOSE.
      p If your country does not allow these disclaimers, they do not apply to you. If your country requires a certain period for which a warranty applies, it will be either the shorter of 30 days from your first use of the Service or the shortest period required by law.
      p 13. LIMITATIONS; WAIVERS OF LIABILITY
      p YOU ACKNOWLEDGE THAT X-POINT AND THE X-POINT AFFILIATES ARE NOT LIABLE
      p (1) FOR ANY INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY OR CONSEQUENTIAL DAMAGES, INCLUDING FOR LOSS OF PROFITS, GOODWILL OR DATA, IN ANY WAY WHATSOEVER ARISING OUT OF THE USE OF, OR INABILITY TO USE, THE SERVICE; OR
      p (2) FOR THE CONDUCT OF THIRD PARTIES, INCLUDING OTHER USERS OF THE SERVICE AND OPERATORS OF EXTERNAL SITES.
      p THE RISK OF USING THE SERVICE AND EXTERNAL SITES RESTS ENTIRELY WITH YOU AS DOES THE RISK OF INJURY FROM THE SERVICE AND EXTERNAL SITES.
      p TO THE FULLEST EXTENT ALLOWED BY ANY LAW THAT APPLIES, THE DISCLAIMERS OF LIABILITY IN THESE TERMS APPLY TO ALL DAMAGES OR INJURY CAUSED BY THE SERVICE, OR RELATED TO USE OF, OR INABILITY TO USE, THE SERVICE, UNDER ANY CAUSE OF ACTION IN ANY JURISDICTION, INCLUDING, WITHOUT LIMITATION, ACTIONS FOR BREACH OF WARRANTY, BREACH OF CONTRACT OR TORT (INCLUDING NEGLIGENCE).
      p TO THE MAXIMUM EXTENT PERMISSIBLE UNDER APPLICABLE LAWS, THE TOTAL LIABILITY OF X-POINT AND/OR THE X-POINT AFFILIATES IS LIMITED TO THE TOTAL AMOUNT YOU HAVE PAID X-POINT AND/OR THE X-POINT AFFILIATE IN THE THIRTY DAYS (30) DAYS IMMEDIATELY PRECEDING THE DATE ON WHICH YOU FIRST ASSERT ANY SUCH CLAIM.
      p IF YOU HAVE NOT PAID X-POINT OR ANY X-POINT AFFILIATE ANY AMOUNT IN THE THIRTY DAYS (30) DAYS IMMEDIATELY PRECEDING THE DATE ON WHICH YOU FIRST ASSERT ANY SUCH CLAIM, YOUR SOLE AND EXCLUSIVE REMEDY FOR ANY DISPUTE WITH X-POINT AND/OR ANY X-POINT AFFILIATE IS TO STOP USING THE SERVICE AND TO CANCEL YOUR ACCOUNT.
      p Some countries do not allow the exclusion of certain warranties or the limitations/exclusions of liability described above. So these limitations/exclusions may not apply to you if you reside in one of those countries.
      
      h3 14. INDEMNITY
      
      p If you use or misuse the Service, or if you violate these Terms or any other applicable rules, and that results in loss or damage or in a claim or liability against X-Point or any X-Point Affiliate, you agree to indemnify, defend and hold harmless X-Point and/or the X-Point Affiliate (which means you agree to compensate X-Point and/or the X-Point Affiliate on a "dollar for dollar" basis) for that loss, damage, claim or liability, including compensating X-Point and/or the applicable X-Point Affiliate for our legal fees or expenses. If X-Point or the X-Point Affiliate wants to, they are allowed to take exclusive charge of the defense of any case on which you are required to compensate or reimburse them, and it will be at your expense. You also have to cooperate in X-Point’s and/or the X-Point Affiliate’s defense of these cases. X-Point and/or the X-Point Affiliate will use reasonable efforts to let you know if they learn of any claim on which you have to compensate or reimburse them. This will apply even if you stop using the Services or your account is deleted.
      
      h3 15. APPLICABLE LAW
      
      p These Terms and our relationship will be governed by British Virgin Islands, except for its conflicts of laws principles.
      
      h3 16. VENUE FOR LEGAL DISPUTES NOT SUBJECT TO ARBITRATION
      
      p Judicial proceedings must be brought in the courts of British Virgin Islands, unless we both agree to some other location, and you and X-Point both consent to venue and personal jurisdiction in British Virgin Islands.
      
      h3 17. SEVERABILITY
      
      p If any part of these Terms or the Privacy Policy is not enforceable, the rest of these Terms and the Privacy Policy still applies and is binding and any unenforceable term will be substituted reflecting our intent as closely as possible.
      
      h3 18. ASSIGNMENT
      
      p We may give our rights, or Our obligations, under these Terms, or our Privacy Policy to any person or entity at any time with or without your consent. You may not give your rights or your obligations under these Terms or our Privacy Policy without first getting X-Point’s written consent, and any attempt to do so without our consent is void.
      
      h3 19. ENTIRE AGREEMENT
      
      p These Terms, and any other policies or rules We reference in these Terms, make up the entire agreement between you and Us relating to the subject matter of these Terms, and supersede all prior understandings of the parties relating to the subject matter of these Terms, whether those prior understandings were electronic, oral or written, or whether established by custom, practice, policy or precedent, between you and Us.
      
      h3 20. LANGUAGE OF THE TERMS
      
      p If We provide a translated version of these Terms, the X-Point Privacy Policy, or any other terms or policy, it is for informational purposes only. If the translated version means something different than the English version, then the English meaning will be the one that applies.
      
      h3 21. NO WAIVER
      
      p If We do not enforce a provision of these Terms, or our Privacy Policy, that does not waive our right to do so later. And, if We do expressly waive a provision of these Terms, or our Privacy Policy that does not mean it is waived for all time in the future. Any waiver must be in writing and signed by both you and Us to be legally binding.
      
      h3 22. NOTICES
      
      p We may notify you by posting something on <a href="https://www.xpt.io">www.xpt.io</a>, and sending you an e-mail or using other ways of communicating with you based on the contact information you provide to Us.
      p If you have to give Us notice of something according to the Terms, or the X-Point Privacy Policy, the notice must be in writing.
      p Any attempted notice that does not follow these rules has no legal effect.
      
      h3 23. EQUITABLE REMEDIES
      
      p You agree that given the unique and irreplaceable nature of the rights granted and obligations made under these Terms, if you breach these Terms, and/or our Privacy Policy, or intend to breach these Terms or Privacy Policy, money damages alone will not be enough to repair the harm to X-Point. Therefore, X-Point may seek injunctive or other equitable relief (e.g., get a court order to make you stop doing whatever you’re doing that is causing harm) if you breach or intend to breach these Terms or our Privacy Policy and X-Point does not have to post any bond or surety or submit proof of damages.
      p You agree to limit your claims to claims for money damages, as limited by Section 13 (Limitations; Waivers of Liability). And, you agree not to seek injunctive or equitable relief or otherwise seek to stop Us from operating any aspect of the Service.
      
      h3 24. FORCE MAJEURE
      
      p We are not liable for any changes or problems out of our control, for example changes or problems caused by like natural disasters, war, terrorism, riots, embargoes, acts of civil or military authorities, fire, floods, accidents, network infrastructure failures, strikes, or shortages of transportation facilities, fuel, energy, labor or materials.












