//
// Buttons
// --------------------------------------------------

@btn-height: 38px;

.btn {
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.btn-action {
  position: relative;
  height: @btn-height;
  line-height: @btn-height - 2;
  border-radius: @btn-height/2;
  padding: 0 (@btn-height/2 + 15) 0 (@btn-height/2 + 40);
  color: #000000;
  background: @green;
  background-image: linear-gradient(to bottom, lighten(@green, 10%) 0%, @green 51%, lighten(@green, 15%) 100%);
  background-size: 100% 200%;
  background-position: top center;
  transition: all 0.2s;

  &:before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background: url("/img/icon-xpt.svg");
    left: @btn-height/2;
    top: (@btn-height - 20)/2;
  }

  &:hover {
    padding: 0 (@btn-height/2 + 25) 0 (@btn-height/2 + 50); 
    background-position: bottom center;
  }

  &.purple {
    background-image: linear-gradient(to bottom, lighten(@purple, 20%) 0%, lighten(@purple, 15%) 51%, lighten(@purple, 25%) 100%);
  }

  &.blue {
    background-image: linear-gradient(to bottom, lighten(@blue, 10%) 0%, @blue 51%, lighten(@blue, 15%) 100%);
  }
}   