//
// Inputs
// --------------------------------------------------
.form-container {
  max-width: 700px;
  margin: 0 auto;
}

.form-control {
  height: @btn-height;
  border-radius: @btn-height / 2;
  &.half {
    @media (min-width: @screen-md) {
      width: 50%;
    }
  }
}
textarea.form-control{
  height: 100px;
}

#newsletterForm .form-group {
  width: 100%;
}