// PADDING
.padding { padding: @spacing !important; }  
.pt { padding-top: @spacing !important; }  
.pt2 { padding-top: @spacing*2 !important; }  
.pt3 { padding-top: @spacing*3 !important; }  
.pt4 { padding-top: @spacing*4 !important; }  
.pt5 { padding-top: @spacing/2 !important; }  
.pr { padding-right: @spacing !important; }  
.pr2 { padding-right: @spacing*2 !important; }  
.pr3 { padding-right: @spacing*3 !important; }  
.pr4 { padding-right: @spacing*4 !important; }  
.pr5 { padding-right: @spacing/2 !important; }  
.pb { padding-bottom: @spacing !important; }  
.pb2 { padding-bottom: @spacing*2 !important; }  
.pb3 { padding-bottom: @spacing*3 !important; }  
.pb4 { padding-bottom: @spacing*4 !important; }  
.pb5 { padding-bottom: @spacing/2 !important; }  
.pl { padding-left: @spacing !important; }  
.pl2 { padding-left: @spacing*2 !important; }  
.pl3 { padding-left: @spacing*3 !important; }  
.pl4 { padding-left: @spacing*4 !important; }  
.pl5 { padding-left: @spacing/2 !important; }  

// MARGIN
.margin { margin: @spacing !important; }  
.mt { margin-top: @spacing !important; }  
.mt2 { margin-top: @spacing*2 !important; }  
.mt3 { margin-top: @spacing*3 !important; }  
.mt4 { margin-top: @spacing*4 !important; }  
.mt5 { margin-top: @spacing/2 !important; }  
.mr { margin-right: @spacing !important; }  
.mr2 { margin-right: @spacing*2 !important; }  
.mr3 { margin-right: @spacing*3 !important; }  
.mr4 { margin-right: @spacing*4 !important; }  
.mr5 { margin-right: @spacing/2 !important; }  
.mb { margin-bottom: @spacing !important; }  
.mb2 { margin-bottom: @spacing*2 !important; }  
.mb3 { margin-bottom: @spacing*3 !important; }  
.mb4 { margin-bottom: @spacing*4 !important; }  
.mb5 { margin-bottom: @spacing/2 !important; }  
.ml { margin-left: @spacing !important; }  
.ml2 { margin-left: @spacing*2 !important; }  
.ml3 { margin-left: @spacing*3 !important; }  
.ml4 { margin-left: @spacing*4 !important; }  
.ml5 { margin-left: @spacing/2 !important; }  

// ALIGN
.text-left { text-align: left !important; }  
.text-center { text-align: center !important; }  
.text-right { text-align: right !important; }  
.text-justify-center { text-align: justify !important; text-align-last: center !important; }  

// FLEX
.df { display: flex; }
.flex-col { flex-direction: column; }
.flex-items-center { align-items: center; }
.flex-items-start { align-items: flex-start; }
.flex-items-end { align-items: flex-end; }
.flex-justify-center { justify-content: center; }
.flex-justify-start { justify-content: flex-start; }
.flex-justify-end { justify-content: flex-end; }
.flex(@num) { flex: @num; }
.df1 { flex: 1; }
.df2 { flex: 2; }
.df3 { flex: 3; }

// DISPLAY
.db { display: block; }
.dib { display: inline-block; }

// WIDTH
.w100p { width: 100% !important; }  

// TEXT
.nobr { white-space: nowrap; }