//
// Type
// --------------------------------------------------

.fa {
  color: @icon-color;
}

h1, h2, h3, .tagline {
  font-weight: 300;
  letter-spacing: 0.04em;
}

h1 {
  font-size: 48px;
}

.tagline, h2 {
  font-size: 28px;
  margin: 30px 0;
  @media (min-width: @screen-sm) {
    font-size: 36px;
  }
}

h3 {
  font-size: 20px;
}

p {
  max-width: 700px;
  margin: 0 auto 10px;
  line-height: 1.6;
}