//
// Utilities
// --------------------------------------------------

a {
  color: @link-color;
  text-decoration: none!important;
  outline: 0;
  background: transparent;
}
a:hover, a:focus, button:hover {
  color: lighten(@link-color, 5%);
  text-decoration: none!important;
  cursor: pointer;
}
a:active {
}

button, .wc-btn, button:hover, .wc-btn:hover  {
	text-decoration: none;
}

//
// IE8 Fixes
//
section, \:section,
footer, \:footer,
header, \:header,
article, \:article,
legend, \:legend {
  display: block;
}
