//
// Variables
// --------------------------------------------------


// Global values
// --------------------------------------------------
@fa-font-path:        "../../bower_components/font-awesome/css/fonts/";

// Grays
// -------------------------
@black:                     #000;
@gray-darker:               #222;
@gray-dark:                 #333;
@gray-darkish:              #444;
@gray:                      #555;
@gray-intro:                #777;
@gray-light:                #999;
@gray-lighter:              #eee;
@gray-section:              darken(@white, 7%);
@gray-section-header:       #bbb;
@white:                     #fff;

// Accent colors
// -------------------------
@blue-bg:                   #0A1033;
@blue:                      #02A8CF;
@blue-light:                #62D5EF;
@blue-lighter:              #94F9FA;
@blue-dark:                 #292F59;
@green:                     #56E39B;
@green-dark:                darken(@green, 10%);
@red:                       #CC45BA;
@red-dark:                  darken(@red, 10%);
@yellow:                    #fec500;
@yellow-dark:               darken(@yellow, 10%);
@orange:                    #fb8036;
@orange-dark:               darken(@orange, 10%);
@purple:                    #6242A8;
@purple-dark:               darken(@purple, 10%);


// Scaffolding
// -------------------------
@body-background:                @gray-section;
@text-color:                     @gray-intro;
@icon-color:                     lighten(@text-color, 10%);
@border-color:                   @gray-lighter;


// Links
// -------------------------
@link-color:                     @blue;
@link-color-hover:               darken(@link-color, 15%);

// Typography
// -------------------------
@font-family-sans-serif:  "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
@font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-base:        @font-family-sans-serif;

@font-size-base:          15px;


// GRID
// --------------------------------------------------
@layout-padding:         3%; 

// SPACING
// --------------------------------------------------
@spacing:                8px;

// Media queries breakpoints
// --------------------------------------------------

// Extra small screen / phone
@screen-xs:                  480px;
@screen-phone:               @screen-xs;

// Small screen / tablet
@screen-sm:                  768px;
@screen-tablet:              @screen-sm;

// Medium screen / desktop
@screen-md:                  1000px;
@screen-desktop:             @screen-md;

// Large screen / wide desktop
@screen-lg:                  1200px;
@screen-lg-desktop:          @screen-lg;

// Larger screen / wider desktop
@screen-lgr:                 1400px;
@screen-lgr-desktop:         @screen-lgr;

// Largest screen / widest desktop
@screen-lgst:                1600px;
@screen-lgst-desktop:        @screen-lgst;

// So media queries don't overlap when required, provide a maximum
@screen-xs-max:              (@screen-sm - 1);
@screen-sm-max:              (@screen-md - 1);
@screen-md-max:              (@screen-lg - 1);
@screen-lg-max:              (@screen-lgr - 1);
@screen-lgr-max:             (@screen-lgst - 1);

// Grid system
// --------------------------------------------------

// Number of columns in the grid system
@grid-columns:              24!important;
// Padding, to be divided by two and applied to the left and right of all columns
@grid-gutter-width:         0;
// Point at which the navbar stops collapsing
@grid-float-breakpoint:     900px; // to give enough room for nav

@container-sm:              90%;
@container-md:              90%;
@container-lg:              90%;
@container-lgr:             90%;
@container-lgst:            1360px;
