﻿footer.footer
  div.container.text-center.small
    div.row.mb5
      a(href="/terms-and-conditions.html", target="_blank") Terms and Conditions
      span.mr.ml |
      a(href="/privacy-policy.html", target="_blank") Privac Policy
    div.row
      | 2018 XPT. 
      | ALL RIGHTS RESERVED
