﻿block vars

doctype html

<!--[if IE 7]><html class="no-js ie7 lt-ie9 lt-ie8" id="ng-app" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 lt-ie9 lt-ie10" id="ng-app" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9 lt-ie10" id="ng-app" lang="en"><![endif]-->
<!--[if IE 10]><html class="no-js ie10" id="ng-app" lang="en"><![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"><!--<![endif]-->

head
  meta(http-equiv="X-UA-Compatible", content="IE=Edge")
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
  meta(http-equiv="cache-control", content="max-age=0")
  meta(http-equiv="cache-control", content="no-cache")
  meta(http-equiv="expires", content="0")
  meta(http-equiv="expires", content="Tue, 01 Jan 1980 1:00:00 GMT")
  meta(http-equiv="pragma", content="no-cache")

  - var metaDescription = metaDesc || "xpt"
  meta(name="description", content="" + metaDescription "")
  meta(name="author", content="xpt")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(property="og:title", content="xpt")
  meta(property="og:description", content="" + metaDescription "")
  meta(property="og:url", content="https://www.xpt.io")
  meta(property="og:image", content="https://www.xpt.io/app_images/xptlogo.gif")
  meta(name="apple-mobile-web-app-capable", content="yes")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")

  - var titleText = pageTitle || "xpt Homepage"
  title
    | #{titleText}

  link(rel="stylesheet" href="/css/xpt.min.css?v=[version]")

  link(rel="shortcut icon", href="/img/favicon.ico")
  link(rel="apple-touch-icon", sizes="144x144", href="apple-touch-icon-114x114-precomposed.png")
  link(rel="apple-touch-icon", sizes="114x114", href="apple-touch-icon-114x114-precomposed.png")
  link(rel="apple-touch-icon", sizes="72x72", href="apple-touch-icon-72x72-precomposed.png")
  link(rel="apple-touch-icon", href="apple-touch-icon-57x57-precomposed.png")

  <!--[if lte IE 9]>
  link(rel="stylesheet", href="/css/xpt.min.ie.css?v=[version]")
  link(rel="stylesheet", href="/css/xpt.min.ie-blessed1.css?v=[version]")
  <![endif]-->

  <!--[if lte IE 9]>
  script(src="/js/ie9.min.js")
  <![endif]-->

  script.
    //(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    //(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    //m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    //})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    //ga('create', 'NEEDS UPDATED!!', 'xpt.io');
    //ga('send', 'pageview');

- var globalClass = pageClass || ""
body.xpt.df.flex-col(class=globalClass)
  include ./mixins.pug
  include ./header.pug
  
  div.content.df1
    block content

  include ./footer.pug

  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
  script(src="/js/libraries.min.js")
  block pageLibraries
</html>
