﻿nav#navbar.navbar.flex-items-center
  //- Brand and toggle get grouped for better mobile display
  div.navbar-header.df1
    button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#HeaderLinks")
      span.sr-only
       | Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a.header-brand(href="/")

  //- Collect the nav links, forms, and other content for toggling
  div#HeaderLinks.collapse.navbar-collapse
    ul.nav.navbar-nav.nav-list
      - nav = nav || {}
      if homepage
        li
          a(href="/#overview")
            | Overview
        li
          a(href="/#benefits")
            | Why XPT?
        li
          a(href="/#buy")
            | Buy XPT
        li
          a(href="/#faqs")
            | FAQs
        li
          a(href="/#partnership")
            | Partnership
        li
          a(href="/#contact")
            | Contact
      else
        li
          a(href="/")
            | Overview
        li
          a(href="/")
            | Why XPT?
        li
          a(href="/")
            | Buy XPT
        li
          a(href="/")
            | FAQs
        li
          a(href="/")
            | Partnership
        li
          a(href="/")
            | Contact

    div.navbar-action
      //a.btn.btn-login(href="/auth/login", role="button")
        //| Login
      //a.btn.btn-signup(href="/auth/signup", role="button")
        //| Sign Up
