﻿//- Mixin

mixin hero(id)
  section.hero-block(id=id)
    block

mixin faq(id,question,answer)
  div.faq
    h4(data-toggle="collapse",href="#"+ id +"",role="button",aria-expanded="false",aria-controls=id,class="collapsable")= question
    div(class="collapse",id=id)= answer