// 
// Page Header
//
@header-height: 60px;

.navbar {
  position: fixed;
  z-index: 9999999999;
  height: @header-height;
  margin: 10px 0;
  width: 100%;
  border-radius: 0;
  background: transparent;
  transition: all 0.4s;

  @media (min-width: @grid-float-breakpoint) {
    display: flex;
    height: @header-height + 20;

    .navbar-action {
      float: right;
    }
  }

  .navbar-fixed &,
  .navbar-fixed-always & {
    margin: 0;
    background: @blue-bg;
    border-bottom: 1px solid rgba(255,255,255,0.2);
  }
}

.navbar-header {
  position: relative;
  z-index: 2;
}

.header-brand {
  display: block;
  padding: 0;
  margin: 5px 16px;

  background: url(/img/logo-xpt.svg) no-repeat 0 0;
  width: 46px;
  height: 46px;
  background-size: auto 100%;

  @media (min-width: @grid-float-breakpoint) {
    width: 167px;
    height: 50px;
    background-size: 100% 100%;
    margin: 5px 20px;
  }
}


.navbar-nav {
  & > li > a {
    color: white;
    padding: 6px 12px;
    &:hover {
      background: transparent;
      color: @blue-light;
    }
  }
}

.navbar-action {
  margin: 0 8px;
  .btn-login,
  .btn-signup {
    padding: 0px 20px;
    margin: 0 8px;
    height: @btn-height;
    line-height: @btn-height - 2;
    border: 2px solid @green;
    color: @green;
    &:hover {
      border-color: white;
      color: white;
    }
  }
  .btn-signup {
    color: @black;
    border: none;
    background: @green;
    background-image: linear-gradient(to bottom, lighten(@green, 10%) 0%, @green 51%, lighten(@green, 15%) 100%);
    background-size: 100% 200%;
    background-position: top center;
    transition: all 0.2s;
    &:hover {
      color: @black;
      background-position: bottom center;
    }
  }
}

.navbar-toggle {
  .icon-bar {
    background-color: #ffffff;
  }
}

@media (max-width: (@grid-float-breakpoint - 1)) {
  .navbar-collapse {
    &.collapse,
    &.collapsing {
      background-color: @blue-bg;
      padding: 10px;
      padding-top: 80px;
      position: absolute;
      top: -10px;
      right: 0;
      left: 0;
      bottom: -1000px;
      z-index: 1;
    }

    .nav-list,
    .navbar-action {
      text-align: center;
    }

    .navbar-nav > li > a {
      padding: 12px;
    }
  }
}