// 
// Sections
//
body.xpt {
  position: relative;
  background: @white; //@blue-bg;
  color: white;
  height: 100vh;

  section {
    position: relative;
    min-height: 600px;
    padding: 80px 0 100px;
    display: flex;
    align-items: center;
  }

  .container {
    position: relative;
  }

  &.navbar-fixed-always {
    .content {
      padding-top: @header-height;
    }
  }
}

section#hero {
  min-height: 96vh;

  .tagline { 
    font-size: 26px;
    letter-spacing: 0.05em;
    .highlight {
      text-transform: uppercase;
      &.green {
        color: @green;
        display: inline-block;
        border-bottom: 1px solid @green;
      }
    }
  }

  .tagline-roll {
    vertical-align: top;
  }

  div.wallpaper-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    #gradient > .vertical(darken(@blue-dark, 30%), @blue-dark, 0%, 50%);

    &:after {
      content: "";
      position: absolute;
      top: 75%;
      bottom: 0;
      left: 0;
      right: 0;
      #gradient > .vertical(fadeout(@blue-dark, 100%), @blue-dark);
    }
  }
  div.wallpaper {
    position: absolute;
    overflow: hidden;
    transform-origin: center;
    &.tl {
      top: 0; right: 50%; bottom: 50%; left: 0; transform: scale(-1,1);
    }
    &.tr {
      top: 0; right: 0; bottom: 50%; left: 50%; 
    }
    &.bl {
      top: 50%; right: 50%; bottom: 0; left: 0; transform: scale(-1,-1);
    }
    &.br {
      top: 50%; right: 0; bottom: 0; left: 50%; transform: scale(1,-1);
    }
    &:before {
      content:  "";
      position: absolute;
      background: url("/img/bg-city.jpeg") 0 0 repeat;
      background-blend-mode: multiply;
      width: 5000px;
      height: 3000px;
      opacity: 0.7;
      background-position: -50px -50px;
      //transform: rotate(210deg) translate(300px, 300px);
      transform: rotate(30deg) translate(-200px, 300px);
      animation: wallpaper-loop 60s linear infinite;
    }
  }

  .scroll-down {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    height: 60px;
    transform: scale(0.6, 0.6);
  }
}

@keyframes wallpaper-loop {
  0% { transform: rotate(5deg) translate(-350px, 170px); }
  50% { transform: rotate(9deg) translate(-250px, 140px); }
  100% { transform: rotate(5deg) translate(-350px, 170px); }
}

section#overview {
  #gradient > .vertical(@blue-dark, @blue);

  .kv {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: url('/img/pattern.svg') top center repeat;
      opacity: 0.2;
      z-index: 1;
    }
    img {
      position: relative;
      margin: 0 auto;
      z-index: 2;
    }
  }
}

section#benefits {
  background: @blue-dark;
}

section#buy {
  background: @blue;
  align-items: flex-start;
  padding-bottom: 0px;
  overflow: hidden;

  .wallet-app {
    position: relative;
    margin: 60px auto -30px;
    width: 320px;
    height: 400px;
    background: url("/img/app_bg.png") 0 0 no-repeat;
    background-size: 100% auto;
    border: 10px solid rgba(255,255,255,0.8);
    border-top-width: 40px;
    border-radius: 20px;
    &:before {
      content: "";
      position: absolute;
      width: 70px;
      height: 1px;
      top: -24px;
      left: 50%;
      margin-left: -35px;
      border-top: 6px solid #ffffff;
    }
  }

  .price {
    margin-top: 100px;
    .btc {
      font-size: 12px;
    }
    .xpt {
      font-size: 28px;
      .symbol {
        font-size: 18px;
      }
    }
  }
}

section#faqs {
  background: white;
  color: @blue-dark;

  .faq-container {
    max-width: 700px;

    .faq {
      margin-bottom: 30px;
      h4 {
        padding-top: 12px;
        padding-bottom: 12px;
        margin-bottom: 12px;
        border-bottom: 1px solid @blue;

        &.collapsable {
          transition: all 0.2s;
          &:hover {
            background-color: lighten(@blue-lighter, 20%);
          }
        }
      }
    }
  }
}

section#partnership {
  background: @purple;

  a:link, a:visited {
    color: @blue-light;
  }
  a:hover, a:active {
    color: @blue-lighter;
  }
}

section#contact {
  background: @blue;
}

section#social {
  background: @blue-bg;

  .fa {
    font-size: 18px;
  }
}


section#tnc {
  background: #fff;
  color: #333;
  display: block;

  .tnc-container {
    max-width: 700px;
    margin: 0 auto;
  }

  h2, h3, h4, h5 {
    margin: 30px 0;
  }
}