﻿extends ../../frame

block vars
  - var pageClass = "navbar-fixed-always"
  - var metaDesc = "XPT is the first universal currencies in the online game world. The more you achieve, the more you conquer, the more XPT you earn. Start your treasure hunt now!!";
  - var pageTitle = "XPT - FAQs";

block pageLibraries

block content
  section#faqs
    div.container.faq-container
      h1.mb4 Frequent Asked Questions

      +faq("a", 
      "What is XPT?", 
      "XPT (X-Point) is a digital currency that is interchangeable with Bitcoin at 1 Bitcoin = 1,000,000 XPT. You can turn your Bitcoin into XPT and vice versa anytime.")

      +faq("b", 
      "How much Bitcoin 1 XPT equals to?", 
      "1 XPT (X-Point) = 0.000001 Bitcoin. Also equals to 1 μBTC (you-bit) or 100 Satoshi. <br> * Satoshi and μBTC are common units of Bitcoin")

      +faq("c", 
      "What are the advantages of XPT over Bitcoin when used in transactions?", 
      "Bitcoin transactions are slow and costly. Therefore it is better off as an digital asset than as a digital currency. Meanwhile XPT brings to the table ultra-fast transactions with close-to-zero transaction fee, making it the perfect complement to Bitcoin.")

      +faq("d", 
      "Is XPT an inflationary coin?", 
      "No, the total circulation is capped.")