//
// Grid system
// --------------------------------------------------

.container {
  .container-fixed();
  padding: 0 20px;


  @media (min-width: @screen-sm) {
    width: @container-sm;
    padding: 0;
  }
  @media (min-width: @screen-md) {
    width: @container-md;
  }
  @media (min-width: @screen-lg) {
    width: @container-lg;
  }
  @media (min-width: @screen-lgr) {
    width: @container-lg;
  }
  @media (min-width: @screen-lgst) {
    width: @container-lgst;
  }
}
